Hello,

this to communicate that your mailbox has been created! It would be active in 24/48h so wait before setting it. 

You can use the webmail:
URL: http://mail.domain.com
Username: {username}
Password: {password}

Or configure a client: 

To configure your email please follow this guide: http://guida.ovh.it/EmailConfig (SSL is better) for a generic email client. 

Remember to delete every previous configuration on Gmail related to this email account (in particular in the "Send as" section of Gmail's settings).

For any inquiries contact me @ rubendibattista@gmail.com

----
OVH EMAIL MANAGER by rubendibattista


